<template>
    <div class='myInput'>
        <p>
            <i v-if="must">*</i>
            <span class="name">{{label}}</span>
        </p>
            <input v-if="mytitle == 'mobil'" type="text" name="" id="">
            <input v-else-if="mytitle == 'email'" type="text" name="" @change="inp" id="">
            <input v-else-if="mytitle == 'pass'" type="password" name="" id="">
            <input v-else type="text" name="" id="">
    </div>
</template>

<script>
export default {
    peops:{
        must:Boolean || undefined,
        mytitle:String,
        label:String,
    },
    data() {
        return {};
    },
    mounted() {},
    methods: {
        inp(e){
            console.log(e);
        }
    },
    components:{}
};
</script>

<style lang='scss'>
    input{
        height: 35px;
        width: 80%;
        border:1px solid #aaa;
    }
</style>
