<template>
    <div class='listAll'>
        <p><el-button type="text" @click="goHome" class="sy">首页</el-button>&emsp;/&emsp;商品管理&emsp;/&emsp;<el-button type="text" @click="goshang" class="sy">商品列表</el-button>&emsp;/&emsp;添加商品</p>
        <div class="list">
             <el-alert
                title="消息提示的文案"
                type="info"
                center
                show-icon
                :closable="false">
            </el-alert>
            <el-steps :active="active-0" finish-status="success" align-center style="margin-top:20px">
                <el-step title="基本信息"></el-step>
                <el-step title="商品参数"></el-step>
                <el-step title="商品属性"></el-step>
                <el-step title="商品图片"></el-step>
                <el-step title="商品内容"></el-step>
                <el-step title="完成"></el-step>
            </el-steps>                        
            <el-form :model="ruleForm"  status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
            <el-tabs tab-position="left" style=" margin-top:20px" v-model="active" @tab-click='tabclick' :before-leave='beforetab'>
                    <el-tab-pane label="基本信息" name="0">
                            <el-form-item label="商品名称" prop="name" >
                                <el-input type="type" v-model="ruleForm.name"   style="margin-top:10px"></el-input>
                            </el-form-item>
                            <el-form-item label="商品价格" prop="price" >
                                <el-input type="number" v-model="ruleForm.price"  style="margin-top:10px"></el-input>
                            </el-form-item>
                            <el-form-item label="商品重量" prop="weight" >
                                <el-input type="number" v-model="ruleForm.weight"  style="margin-top:10px"></el-input>
                            </el-form-item>
                            <el-form-item label="商品数量" prop="num" >
                                <el-input type="number" v-model="ruleForm.num" style="margin-top:10px" ></el-input>
                            </el-form-item>
                             <el-form-item label="商品分类"  prop='fen'><br>
                                <span>选择商品分类：</span>
                                  <el-cascader
                                    v-model="ruleForm.cat"
                                    :options="can"
                                    :props="defaultlist"
                                      style="margin-top:10px; width:300px" 
                                @change="handleChange"></el-cascader>
                            </el-form-item>

             
                    </el-tab-pane>
                    <el-tab-pane label="商品参数" name="many">
                        <p style="margin-top:20px;"  v-for="(item,index) in list" :key="index">
                            {{item.attr_name}}
                        </p>
                               <!-- <el-tag
                                  :key="i"
                                  v-for="(tag,i) in list.attr_vals"
                                  closable
                                  :disable-transitions="false">
                                  {{tag}}
                                </el-tag> -->
                    </el-tab-pane>
                    <el-tab-pane label="商品属性" name="only">
                      <p style="margin-top:20px;"  v-for="(item,index) in list" :key="index">
                            {{item.attr_name}}
                      </p>
                    </el-tab-pane>
                    <el-tab-pane label="商品图片" name="3">
                        <el-upload
                          class="upload-demo"
                          action="https://jsonplaceholder.typicode.com/posts/"
                          :on-preview="handlePreview"
                          :on-remove="handleRemove"
                          :file-list="fileList"
                          list-type="picture">
                          <el-button size="small" type="primary">点击上传</el-button>
                        </el-upload>
                    </el-tab-pane>
                    <el-tab-pane label="商品内容" name="4">
                      <quill-editor ref="myTextEditor" v-model="content" :options="editorOption" 
                        style="height: 300px; margin-bottom: 10px"></quill-editor>
                      <el-button  style="margin-top: 60px" type="primary" @click="addshang">添加商品</el-button>
                    </el-tab-pane>
            </el-tabs>
            </el-form>
        </div>
    </div>
</template>

<script>
import {
  getCan,
  delCate,
  addCateList,
  getGoods,
  getGories,
  addGoods
} from "@/api/getData.js";
export default {
  data() {
    return {
      active: '0',
      ruleForm: {
        name: "",
        price: 0,
        weight: 0,
        num: 0,
        cat: [],
      },
      acyives:'many',
      id: "",
      can: [],
      value: "",
      list: [],
      defaultlist: {
        expandTrigger: "hover",
        label: "cat_name",
        value: "cat_id",
      },
      rules: {
        name: [{ required: true, message: "请输入商品名称", trigger: "blur" }],
        price: [{ required: true, message: "请输入商品价格", trigger: "blur" }],
        weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" }
        ],
        num: [{ required: true, message: "请输入商品数量", trigger: "blur" }],
        fen: [{ required: true, message: "请选择商品分类", trigger: "blur" }]
      },
      fileList: [],
      content: "",
      editorOption: {}
    };
  },
  mounted() {
    this.getcan();
  },
  methods: {
    goHome() {
      this.$router.push("/greet");
    },
    goshang() {
      this.$router.push("/goods");
    },
    getcan() {
      getCan().then(res => {
        console.log(res.data);
        this.can = res.data;
      });
    },
    handleChange() {
      console.log(this.ruleForm.cat);
      this.id = this.ruleForm.cat[this.ruleForm.cat.length - 1];
      console.log(this.id);
      if (this.ruleForm.cat.length != 2) {
        this.ruleForm.cat = [];
      }
    },
    beforetab(xinName, oldName) {
      console.log(xinName, oldName);
      if (oldName === "0" && this.ruleForm.cat.length != 2) {
        this.$message({
          message: "请先选择商品分类",
          type: "error"
        });
        return false;
      }
    },
    tabclick() {
      this.active = 'many'
      getGories({ id: this.id, sel: this.active }).then(res => {
        console.log(res);
        this.list = res.data;
      });
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    addshang() {
      console.log(111);
      var cat = this.ruleForm.cat.toString(",");
      addGoods({
        goods_name: this.ruleForm.name,
        goods_cat: cat,
        goods_price: this.ruleForm.price,
        goods_number: this.ruleForm.num,
        goods_weight: this.ruleForm.weight
      }).then(res => {
        console.log(res);
      });
      this.$router.push("/goods");
    }
  },
  components: {}
};
</script>

<style scoped>
.list {
  width: 95%;
  height: 660px;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 60px;
}
.input-with-select {
  width: 400px;
}
.add {
  margin-left: 20px;
}
.btn {
  padding: 8px 16px;
}
.listAll {
  overflow: scroll;
}
</style>
