<template>
    <div class='greet'>
        欢迎使用后台管理平台
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
    mounted() {},
    methods: {},
    components:{}
};
</script>

<style lang='scss'>
.greet {
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 90vh;
    background: #eee;
    font-size: 25px
}
</style>
