<template>
    <div class=''>
      <div>
           <el-form  status-icon  ref="ruleForm" label-width="100px" class="demo-ruleForm">
    <el-input type="text" v-model="username" autocomplete="off" @blur="setuser"></el-input>
    <span>{{usertext}}</span>
    <el-input type="password" v-model="passwrad"></el-input>
    <span>{{passtext}}</span>

  <el-form-item>
    <el-button type="primary" @click="tocontest">提交</el-button>
    <el-button @click="nuAll">重置</el-button>
  </el-form-item>
</el-form>
      </div>
   
    </div>
</template>

<script>
import { getlogin } from "../api/getData.js";
export default {
  data() {
    return {
      username: "",
      passwrad: "",
      usertext: "",
      passtext: ""
    };
  },
  mounted() {},
  methods: {
    getlist() {
      getlogin({ username: this.username, password: this.passwrad }).then(
        res => {
          console.log(res);
        }
      );
    },
    tocontest() {
      this.getlist();
    },
    nuAll() {
      this.username = "";
      this.passwrad = "";
    },
    setuser(e) {
      if (
        this.username.length >= 3 &&
        this.username.length <= 10 &&
        this.username != ""
      ) {
        this.usertext = "";
      } else if (this.username == "") {
        this.usertext = "用户名不能为空";
        e.target.style = "boder='1px solid red'";
      } else {
        this.usertext = "用户名长度在 3 到 10 个字符";
        e.target.style = "boder:1px solid red";
      }
    }
  },
  components: {}
};
</script>

<style lang='scss'>
</style>
