<template>
<div class="all">
   <div class="home">
    <div class="topImg">
      <img src="http://gl.timemeetyou.com/img/logo.82b9c7a5.png" alt="">
    </div>
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="0px" class="demo-ruleForm">
      <el-form-item label="" prop="user">
              <i class="el-icon-s-custom"></i>
    <el-input v-model.number="ruleForm.user"></el-input>
  </el-form-item>
  <el-form-item label="" prop="pass">
              <i class="el-icon-lock"></i>
    <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
  </el-form-item>
 
  
  <el-form-item id="toFrom">
    <el-button type="primary" @click="submitForm()">登录</el-button>
    <el-button @click="resetForm">重置</el-button>
  </el-form-item>
</el-form>
  </div>
</div>
 
</template>
<script>
import { getlogin } from "../api/getData.js";

export default {
  data() {
    var changeuser = (rule, value, callback) => {
      var value = value + "";
      if (!value) {
        return callback(new Error("用户名不能为空"));
      }
      setTimeout(() => {
        if (value.length < 3 || value.length > 10) {
          callback(new Error("用户名长度是3到10位"));
          // return  '用户名长度是3到10位'
        } else {
          callback();
        }
      }, 1000);
    };
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        setTimeout(() => {
          if (value.length < 6 || value.length > 16) {
            callback(new Error("密码长度是6到16位数"));
          } else {
            callback();
          }
        }, 500);
      }
    };
    return {
      ruleForm: {
        pass: "123456",
        user: "admin"
      },
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        user: [{ validator: changeuser, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm() {
      getlogin({
        username: this.ruleForm.user,
        password: this.ruleForm.pass
      }).then(res => {
        console.log(res);
        if (res.meta.status == 200) {
          localStorage.setItem("token", res.data.token);
          this.$message({
            message: "登录成功",
            type: "success"
          });
          setTimeout(() => {
            this.$router.push({ path: "/index" });
          }, 1000);
        } else {
          this.$message.error(res.meta.msg);
        }
      });
    },
    resetForm() {
      //让输入框为空
      this.ruleForm.user = "";
      this.ruleForm.pass = "";
    }
  }
};
</script>
<style>
.home {
  width: 500px;
  margin: 200px auto 0 auto;
  background: #fff;
  position: relative;
  padding: 100px 50px 50px 50px;
  border-radius: 8px;
}
.topImg {
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  border-radius: 50%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 33%;
  top: -40%;
  background: #eee;
  overflow: hidden;
  box-shadow: 0 5px 5px 0 #ccc;
  /* 阴影 */
}
.topImg img {
  width: 100%;
  height: 100%;
}
.all {
  width: 100%;
  height: 100%;
  background: #2b4b6b;
  overflow: hidden;
}
.el-form-item__content {
  position: relative;
}
.el-form-item__content i {
  position: absolute;
  left: 5px;
  top: 35%;
  margin: 0 !important;
  z-index: 99;
  color: #000;
}
.el-input input {
  padding-left: 30px !important;
}
</style>
