<template>
    <div class=''>
        <div class="alltop">
            <div class="lefttop">
              <img src="http://gl.timemeetyou.com/img/logo.82b9c7a5.png" alt="">
                <span>商城后台管理系统</span>
            </div>
            <el-popconfirm
  title="确定退出吗？"
  @confirm="tohome"
>
  <el-button slot="reference">退出</el-button>
</el-popconfirm>
            <!-- <button class="delete" @click=""></button> -->
        </div>
        <div class="context">
<el-row>
  <el-col :span="showleft?1:4">
    <h5 @click="showtab" class="showlist">|||</h5>
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      :collapse="showleft"
      unique-opened
      router
      >
      <el-submenu v-for="(item,i) in listleft" :key="i" :index="item.path">
        <template slot="title">
          <i :class="lefticon[i]"></i>
          <span>{{item.authName}}</span>
        </template>
          <el-menu-item v-for="(it,ind) in item.children"  :key="ind"  :index="it.path">
            <i class="el-icon-s-operation"></i>
          <span>{{it.authName}}</span>
          </el-menu-item>
      </el-submenu>
    </el-menu>
  </el-col>
  <div class="contextAll">
<router-view class="dvs"></router-view>
</div>
</el-row>
        </div>

    </div>
</template>

<script>
import { getleft } from "../api/getData.js";

export default {
  data() {
    return {
      listleft: [],
      lefticon: [
        "el-icon-user-solid",
        "el-icon-setting",
        "el-icon-s-goods",
        "el-icon-s-order",
        "el-icon-s-marketing"
      ],
      showleft: false,
      contextone: "",
      contexttwe: ""
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      getleft().then(res => {
        console.log(res);
        if (res.meta.status) {
          this.listleft = res.data;
          // this.$notify({
          //   title: "成功",
          //   message: res.meta.msg,
          //   type: "success"
          // });
        }
      });
    },
    tohome() {
      localStorage.clear("token");
      this.$router.push({ path: "/" });
    },
    handleOpen(key, keyPath) {
      // console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    showtab() {
      this.showleft = !this.showleft;
    }
  },
  components: {},
  beforeCreate() {
    // console.log(this.$route.path != '/greet' , this.contexttwe == "");
    // if(this.$route.path != '/greet' || this.contexttwe == ""){
    //   this.$router.push({path:'/greet'})
    // }
    // let token = localStorage.getItem("token");
    // if (!token) {
    //   this.$router.push({ path: "/" });
    // }
  },
  destroyed() {
    // localStorage.remove("token");
  }
};
</script>

<style lang='scss'>
.toptest {
  margin: 10px 0;
}
.alltop {
  display: flex;
  align-items: center;
  background: #666666;
  color: #fff;
  overflow: hidden;
}
.lefttop {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
}
.delete {
  padding: 5px 10px;
  margin-right: 10px;
}
.el-menu-vertical-demo {
  height: 100vh;
}
.showlist {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background: #999999;
}
.el-row {
  display: flex;
}
.contextAll {
  flex: 1;
  background: #eee;
  padding: 10px;

  height: 650px;
  overflow: scroll;
}
.contextAll::-webkit-scrollbar {
  display: none;
}
.dvs{
  width: 100%;
}
</style>
