<template>
  <div class='orderlist'>
    
        <p class="top_p"><el-button type="text" @click="goHome" class="sy">首页</el-button>&emsp;/&emsp;订单管理&emsp;/&emsp;订单列表</p>

    <div class="con">
      <!-- 搜索 -->
      <el-input
        placeholder="请输入搜索内容"
        v-model="query"
        clearable
        class="input"
      >
        <!-- 搜索 -->
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="search"
        ></el-button>
      </el-input>
      <!-- 渲染表格 -->
      <el-table
        :data="list"
        border
        style="width: 100%"
      >
        <el-table-column
          prop="index"
          label="#"
          type="index"
          width="60"
        >
        </el-table-column>
        <!-- 订单编号 -->
        <el-table-column
          prop="order_number"
          label="订单编号"
        >
        </el-table-column>
        <!-- 订单价格 -->
        <el-table-column
          prop="order_price"
          label="订单价格"
        >
        </el-table-column>
        <!-- 是否付款 -->
        <el-table-column
          prop="address"
          label="是否付款"
        >
          <template slot-scope="scope">
            <el-tag
              v-show="scope.row.order_pay!=1"
              effect="dark"
              type="danger"
            >未付款</el-tag>
            <el-tag
              v-show="scope.row.order_pay==1"
              effect="dark"
              type=""
            >已付款</el-tag>
          </template>
        </el-table-column>
        <!-- 是否发货 -->
        <el-table-column
          prop="address"
          label="是否发货"
        >
          <template slot-scope="scope">
            <div>
              {{scope.row.is_send}}
            </div>
          </template>
        </el-table-column>
        <!-- 下单时间 -->
        <el-table-column
          prop="address"
          label="下单时间"
        >
          <template slot-scope="scope">
            {{ setTime(scope.row.create_time) }}
          </template>
        </el-table-column>
        <!-- 操作 -->
        <el-table-column
          prop=""
          label="操作"
          width="120"
        >
          <template slot-scope="scope">
            <el-button
              type="primary"
              class="btna"
              @click="xians1(scope.row)"
            ><i class="el-icon-edit"></i></el-button>
            <el-button
              type="success"
              class="btna"
              @click="xians2(scope.row)"
            ><i class="el-icon-location-outline"></i></el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagenum"
          :page-sizes="[5, 10, 15, 20]"
          :page-size="pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>
    <!-- 添加动态参数或属性的模态框 -->
    <div
      class="modal"
      v-show="show==true"
    >
      <div class="box">
        <h4>
          <span>修改地址</span>
          <span @click.stop="hide">X</span>
        </h4>
        <div class="input">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="100px"
            class="demo-ruleForm"
          >
            <!-- 省市区/县 -->
            <el-form-item
              label="省市区/县"
              prop="consignee_addr"
            >
              <el-cascader
                v-model="ruleForm.consignee_addr"
                :options="city"
                @change="handleChange"
                class="cascader"
                :props="props"
              ></el-cascader>
            </el-form-item>
            <!-- 详细地址 -->
            <el-form-item
              label="详细地址"
              prop="address"
            >
              <el-input v-model="ruleForm.address"></el-input>
            </el-form-item>
            <!-- 按钮 -->
            <el-form-item class="btn">
              <el-button @click.stop="hide">取消</el-button>
              <el-button
                type="primary"
                @click="updata"
              >确定</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
    <!-- 展示物流进度的模态框 -->
    <div
      class="modal"
      v-show="show1==true"
    >
      <div class="box">
        <h4>
          <span>物流信息</span>
          <span @click.stop="hide1">X</span>
        </h4>

      </div>
    </div>
  </div>
</template>

<script>
import { getlist, logistics } from "@/api/getData.js";
import city from "../assets/cityData.json";
export default {
  data() {
    return {
      list: [{}],
      pagenum: 1,
      pagesize: 5,
      city,
      query: "",
      total: 0,
      show: false,
      show1: false,
      ruleForm: {
        consignee_addr: "",
        address: ""
      },
      rules: {
        consignee_addr: [
          { required: true, message: "请输入省市区/县", trigger: "blur" }
        ],
        address: [
          { required: true, message: "请填写详细地址", trigger: "blur" },
          { min: 2, max: 8, message: "长度在 2 到 8 个字符", trigger: "blur" }
        ]
      },
      props: {
        expandTrigger: "hover",
        value: "name",
        label: "name",
        children: "city"
      }
    };
  },
  mounted() {
    this.getlist();
  },
  methods: {
     goHome() {
      this.$router.push("/greet");
    },
    handleChange(value) {},
    //   修改按钮中的模态框确定按钮
    updata() {
      this.hide();
      this.$message({
        message: "修改成功!",
        type: "success",
        duration: 1000
      });
    },
    // 物流信息
    xians2() {
      this.show1 = true;
      let id = "804909574412544580";
      // console.log(id);
      // logistics(id).then(res=>{
      //   console.log(res);
      // })
    },
    //   点击修改地址按钮
    xians1() {
      this.show = true;
    },
    // 修改地址模态框隐藏
    hide() {
      this.show = false;
    },
    // 物流信息模态框隐藏
    hide1() {
      this.show1 = false;
    },
    handleSizeChange(val) {
      this.pagesize = val;
      this.getlist();
    },
    handleCurrentChange(val) {
      this.pagenum = val;
      this.getlist();
    },
    //   转换时间
    setTime(time) {
      let oldDare = new Date(time * 1000);
      let n = oldDare.getFullYear();
      let y = oldDare.getMonth();
      let r = oldDare.getDate();
      let s = oldDare.getHours();
      let f = oldDare.getMinutes();
      let m = oldDare.getSeconds();
      return `${n}-${y}-${r} ${s}:${f}:${m}`;
    },
    search() {
      console.log(this.query);
      if (this.query) {
        getlist(`query=${this.query}&pagenum=${1}&pagesize=${1}`).then(res => {
          this.list = res.data.goods;
          console.log(res);
          this.total = 1;
        });
      } else {
        this.getlist();
      }
    },
    getlist() {
      getlist(
        `query=${this.query}&pagenum=${this.pagenum}&pagesize=${this.pagesize}`
      ).then(res => {
        this.list = res.data.goods;
        this.total = res.data.total;
      });
    }
  },
  components: {}
};
</script>

<style >
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
   
  }
   .box {
      width: 800px;
      height: 280px;
      background: white;
      margin: 140px auto;
      box-sizing: border-box;
      padding: 20px;
  }
   .box h4 {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        
      }
     .box h4 span:nth-child(2) {
          font-size: 14px;
          font-weight: 100;
        }
   .input {
        margin-top: 20px;
        padding-left: -20px;
        margin-left: -10px;
    }
  .top {
    margin-top: 14px;
    font-size: 12px;
   
  }
  .top a {
      font-weight: bold;
    }
  .cascader {
    width: 100%;
  }
  .con {
    width: 98%;
    background: white;
    border-radius: 4px;
    margin: 10px 20px;
    margin-left: 0px;
    box-sizing: border-box;
    padding: 30px 18px;

    
  }
  .block {
      margin-top: 30px;
    }
    .btna {
      padding: 6px 14px;
    }
    .input {
      width: 420px;
    }

</style>
