<template>
    <div class=''>
        <p class="top_p"><el-button type="text" @click="goHome" class="sy">首页</el-button>&emsp;/&emsp;商品管理&emsp;/&emsp;分类参数</p>
        <div class="params">
            <div class="top_title">
                <span class="el-icon-warning">注意：只允许为第三级分类设置相关参数!</span>
            </div>
            <div class="navTop">
                选择商品分类：
                <el-cascader
                v-model="value"
                :options="listTop"
                :props="{ expandTrigger: 'hover' ,label:'cat_name',value:'cat_id'}"
               @change="handleChange"></el-cascader>
            </div>
             <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane  v-for="(item,i) in tab" :key="i" :label="item.label" :name="item.status" >   
            <el-button type="primary" :disabled="value == ''?true:false" @click="setaddlist">{{activeName == 'many'?'添加参数':'添加属性'}}</el-button>

                <el-table
    :data="manyData"
    border
    style="width: 100%">
     <el-table-column type="expand">
      <template slot-scope="props">
       

       <el-tag
  v-for="(tag,i) in props.row.attr_vals"
  :key="i"

  closable
  :disable-transitions="false"
  @close="handleClose(props,i)">
  {{tag}}
</el-tag>
<el-input
  class="input-new-tag"
  v-if="inputVisible"
  v-model="inputValue"
  ref="saveTagInput"
  size="small"
  @keyup.enter.native="handleInputConfirm(props)"
  @blur="handleInputConfirm(props)"
>
</el-input>
<el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
      </template>
    </el-table-column>
    <el-table-column
      prop=""
      label="#"
      width="50"
      type="index"
      :index="indexMethod">
    </el-table-column>
    <el-table-column
      prop="attr_name"
      :label="activeName=='many'?'参数名称':'属性名称'"
      width="555">
    </el-table-column>
    <el-table-column
      prop="name"
      label="操作"
      width="555">
      <template slot-scope="scope">
          <el-button type="primary" class="el-icon-edit" @click="settitles(scope)"></el-button>
        <el-button type="danger" class="el-icon-delete" @click="deltitle(scope)"></el-button>
      </template>
    </el-table-column>
  </el-table>
        </el-tab-pane>
        </el-tabs>
        </div>

 <!-- //添加 -->
<div class="allContext" v-show="titleshowTest">
        <div class="contexts">
            <div class="textTop">
        <p class="addtexttop">添加{{activeName =='many'?'动态参数':'静态属性'}}</p>
         <span @click="titleshowTest = false">X</span>
        </div>
            <el-form  label-width="100px" class="demo-dynamic">
  <el-form-item
    prop="phone"
    :label="activeName =='many'?'动态参数':'静态属性'"
    :rules="titleName"
  >
    <el-input v-model="titletext"></el-input></el-form-item>
    <div class="footers">
        <el-button @click="titleshowTest = false">取消</el-button>
    <el-button type="primary" @click="addtitle">确定</el-button>
</div>
<!-- //编辑 -->

</el-form>
        </div>
    </div>
    </div>
</template>


<script>
import {
  getCatelist,
  getCatetab,
  getCateAlllist,
  delCateAlllist,
  setchildren
} from "../api/getData.js";
export default {
  data() {
    return {
      listTop: [],
      value: [],
      activeName: "many",
      tab: [
        {
          label: "动态参数",
          status: "many"
        },
        {
          label: "静态属性",
          status: "only"
        }
      ],
      manyData: [],
      titleName: [{ required: true }],
      titletext: "",
      titleshowTest: false,
      inputVisible: false,
      inputValue: ""
    };
  },
  mounted() {
    this.getlist();
  },
  methods: {
    goHome() {
      this.$router.push("/greet");
    },
    getlist() {
      getCatelist().then(res => {
        console.log(res);
        this.listTop = res.data;
      });
    },
    getCatelistAll() {
      getCatetab({ id: this.value[2], sel: this.activeName }).then(res => {
        console.log(res);
        if (res.meta.status == 200) {
          this.manyData = res.data;
          this.$message({
            message: "数据获取成功",
            type: "success"
          });
          this.manyData.forEach(item => {
            if (item.vals != "") {
              let val = item.attr_vals.split(",");
              item.attr_vals = val;
            } else {
              item.attr_vals = [];
            }
          });
        } else {
          this.$message.error(res.meta.msg);
        }
      });
    },
    handleChange(val) {
      this.getCatelistAll();
    },
    handleClick() {
      if (this.value.length >= 3) {
        this.getCatelistAll();
      }
    },
    indexMethod(index) {
      return index + 1;
    },
    setaddlist() {
      this.titleshowTest = true;
    },
    addtitle() {
      getCateAlllist({
        id: this.value[2],
        attr_name: this.titletext,
        attr_sel: this.activeName
      }).then(res => {
        console.log(res);
        if (res.meta.status == 201) {
          this.$message({
            message: "添加成功",
            type: "success"
          });
        } else {
          this.$message.error(res.meta.msg);
        }
        this.getCatelistAll();
        this.titleshowTest = false;
      });
    },
    deltitle(val) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delCateAlllist({ id: this.value[2], rid: val.row.attr_id }).then(
            res => {
              if (res.meta.status == 200) {
                this.$message({
                  type: "success",
                  message: "删除成功!"
                });
              } else {
                this.$message({
                  type: "info",
                  message: "服务器被外星人抢走了"
                });
              }
              this.getCatelistAll();
            }
          );
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    handleClose(tag, i) {
      tag.row.attr_vals.splice(i, 1);
      this.handleInputConfirm(tag);
    },

    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput[0].$refs.input.focus();
      });
    },

    handleInputConfirm(val) {
      console.log(val);
      let myvals = "";
      if (this.inputValue != "") {
        myvals = this.inputValue + "," + val.row.attr_vals;
      } else {
        myvals = val.row.attr_vals;
        myvals += "";
      }
      console.log(myvals, val);
      let inputValue = this.inputValue;
      setchildren({
        id: this.value[2],
        rid: val.row.attr_id,
        attr_name: val.row.attr_name,
        attr_sel: this.activeName,
        attr_vals: myvals
      }).then(res => {
        console.log(res);
        if (res.meta.status == 200) {
          this.$message({
            message: "数据更新成功",
            type: "success"
          });
        } else {
          this.$message.error(res.meta.msg);
        }
        this.getCatelistAll();
      });

      this.inputVisible = false;
      this.inputValue = "";
    },
    settitles(val) {
      this.$prompt("请输入要修改的值", "修改", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue:val.row.attr_name
      })
        .then(({ value }) => {
          this.$message({
            type: "success",
            message: "你的修改的是: " + value
          });
          val.row.attr_name = value
          console.log(val);
          this.handleInputConfirm(val)
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消输入"
          });
        });
    }
  },
  components: {}
};
</script>

<style lang='scss'>
.params {
  width: 96%;
  height: 100%;
  margin: 10px;
  background: #fff;
  padding: 10px;
}
.top_title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #fdf6ec;
  color: #e6a23c;
  padding-left: 10px;
  margin: 0 0 10px 0;
}
.footers {
  text-align: right;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>
