<template>
  <div id="app">
    
    <router-view/>
  </div>
</template>

<style lang="scss">
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
html,body,#app{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top_p{
  background: #eee;
}
.allContext {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.contexts {
  width: 550px;
  background: #fff;
  margin: 100px auto;
  padding: 15px 15px 50px 15px;
}
.addtexttop {
  font-size: 19px;
  flex: 1;
}
.textTop {
  display: flex;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}

</style>
